@{
    ViewData["Title"] = "Admin Panel";
}

<h2 class="text-center text-primary">@ViewData["Title"]</h2>

<div class="col-md-12 row offset-md-0 offset-lg-1">
    <a class="nav-link text-light card col-md-5 text-center bg-primary admin-panel-button m-1" style="height: 20rem; padding-top: 9em;" asp-area="@AdministratorAreaName" asp-controller="User" asp-action="All">Users</a>
    <a class="nav-link text-light card col-md-5 text-center bg-primary admin-panel-button m-1" style="height: 20rem; padding-top: 9em;" asp-area="@AdministratorAreaName" asp-controller="Glasses" asp-action="Index">Glasses</a>
    <a class="nav-link text-light card col-md-5 text-center bg-primary admin-panel-button m-1" style="height: 20rem; padding-top: 9em;" asp-area="@AdministratorAreaName" asp-controller="Brand" asp-action="Index">Brands</a>
    <a class="nav-link text-light card col-md-5 text-center bg-primary admin-panel-button m-1" style="height: 20rem; padding-top: 9em;" asp-area="@AdministratorAreaName" asp-controller="Comment" asp-action="AllComments">All Comments</a>
    <a class="nav-link text-light card col-md-5 text-center bg-primary admin-panel-button m-1" style="height: 20rem; padding-top: 9em;" asp-area="@AdministratorAreaName" asp-controller="Home" asp-action="AllMessages">Contact Messages</a>
</div>

