@model GlassesFormViewModel

<div class="mb-3">
    <a class="btn btn-light" asp-area="Administrator" asp-controller="Glasses" asp-action="Index">Back</a>
</div>

<form method="post">
    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.ModelName"></label>
        <input asp-for="@Model.ModelName" class="form-control" placeholder="Enter model..">
        <span asp-validation-for="@Model.ModelName" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <textarea asp-for="@Model.Description" class="form-control" rows="3" placeholder="Enter description..."></textarea>
        <span asp-validation-for="@Model.Description" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ImageUrl"></label>
        <input asp-for="@Model.ImageUrl" class="form-control" placeholder="Your fine URL here...">
        <span asp-validation-for="@Model.ImageUrl" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <input asp-for="@Model.Price" class="form-control" placeholder="Enter price...">
        <span asp-validation-for="@Model.Price" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BrandId"></label>
        <select asp-for="@Model.BrandId" class="form-control">
            <option value="">--Select--</option>
            @foreach (var brand in Model.BrandList)
            {
                <option value="@brand.Id">@brand.Name</option>
            }
        </select>
        <span asp-validation-for="@Model.BrandId" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.TypeId"></label>
        <select asp-for="@Model.TypeId" class="form-control">
            <option value="">--Select--</option>
            @foreach (var type in Model.TypeList)
            {
                <option value="@type.Id">@type.Name</option>
            }
        </select>
        <span asp-validation-for="@Model.TypeId" class="small text-danger"></span>
    </div>
    <input class="btn btn-primary mt-3" type="submit" value="Save" />
</form>


