@model List<GlassesViewModel>


<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <ul class="list-group list-group-flush">
        @foreach (var glasses in Model)
        {
        <li class="list-group-item">
            @glasses.ModelName,
            @glasses.Brand,
            @glasses.Rating
            <a asp-controller="Glasses" asp-action="Edit" asp-route-id="@glasses.Id" class="btn btn-warning">Edit</a>
            <a asp-controller="Glasses" asp-action="Delete" asp-route-id="@glasses.Id" class="btn btn-danger">Delete</a>
        </li>
        }
    </ul>
</div>