@model GlassesDetailsViewModel
@inject GlassesStore.Services.Like.ILikeService likeService
@{
    ViewData["Title"] = "Product Details";
    ViewBag.Flag = false;
    ViewBag.Like = "details";
}

<h2 class="text-center text-primary">@ViewData["Title"]</h2>

<div class="mb-3">
    <a class="btn btn-light" asp-area="" asp-controller="Shop" asp-action="Index">Back</a>
</div>

<div class="col-sm-12 col-md-12 col-lg-12">
    <!-- product -->
    <div class="product-content product-wrap clearfix product-deatil">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                    <div class="item active">
                        <img src="@Model.ImageUrl" class="img-thumbnail" alt="" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                <h2 class="name">
                    @Model.Brand
                    <small>@Model.ModelName</small>
                </h2>
                <hr />
                <h3 class="price-container">
                    $@Model.Price
                </h3>
                <div class="certified">
                </div>
                <hr />
                <div class="description description-tabs">
                    @Model.Description
                </div>
                <hr />
                <div class="description description-tabs">
                    <b>Likes: @Model.Likes.Count()</b>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <a asp-controller="Shop" asp-action="Buy" asp-route-id="@Model.Id" class="btn btn-success btn-lg">Buy ($@Model.Price)</a>
                    </div>
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <a asp-controller="Comment" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-light btn-lg">Add Comment</a>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2">
                        @if (!likeService.IsLiked(@Model.Id, User.Id()))
                        {
                            <a asp-controller="Like" asp-action="Like" asp-route-productId="@Model.Id" asp-route-callerView="@ViewBag.Like" class="btn btn-link">Like</a>
                        }
                        else
                        {
                            <a asp-controller="Like" asp-action="Unlike" asp-route-productId="@Model.Id" asp-route-callerView="@ViewBag.Like" class="btn btn-link">Unlike</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end product -->
    <hr />
    <partial name="_CommentListingPartial" model="@Model.Comments" />
</div>

