@model GlassesDetailsViewModel

@{
    ViewData["Title"] = "Product Details";
}

<div class="col-sm-12 col-md-12 col-lg-12">
    <!-- product -->
    <div class="product-content product-wrap clearfix product-deatil">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                    <div class="item active">
                        <img src="@Model.ImageUrl" class="img-thumbnail" alt="" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                <h2 class="name">
                    @Model.Brand
                    <small>@Model.ModelName</small>
                    <h5>Rating: @Model.Rating / 5.00</h5>
                </h2>
                <hr />
                <h3 class="price-container">
                    $@Model.Price
                </h3>
                <div class="certified">
                </div>
                <hr />
                <div class="description description-tabs">
                    @Model.Description
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a asp-controller="Shop" asp-action="Buy" asp-route-id="@Model.Id" class="btn btn-success btn-lg">Buy ($@Model.Price)</a>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a asp-controller="Comment" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-light btn-lg">Add Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end product -->
    <hr />
    <div class="container">
        <div class="row">
            <div class="panel panel-default widget">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>
                    <h3 class="panel-title">
                        Comments (@Model.Comments.Count())
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        @foreach (var comment in Model.Comments)
                        {
                            <li class="list-group-item">
                                <div class="row col-12">
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <div class="mic-info">
                                                By: <b>@comment.User</b> on @comment.CreatedOn
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            @comment.Content
                                        </div>
                                        @if (comment.UserId == User.Id())
                                        {
                                            <div class="action">
                                                <a type="button" class="btn btn-primary btn-xs" title="Edit" asp-controller="Comment" asp-action="Edit" asp-route-commentId="@comment.Id" asp-route-productId="@Model.Id">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                                <a type="button" class="btn btn-danger btn-xs" title="Delete" asp-controller="Comment" asp-action="Delete" asp-route-commentId="@comment.Id" asp-route-productId="@Model.Id">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

